.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // +0.5rem for first Restaurant Category
  // Same as Navbar + other Restaurant Categories' space (5.5rem in total)
  .homepage-content {
    padding-top: 0.5rem;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4141;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
