@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// Spacer for flexbox, fills remaining space
.spacer {
  flex-grow: 1;
}

@import "./nav.scss";
@import "./homepage.scss";
@import "./restaurant-card.scss";
@import "./restaurant-category.scss";
@import "./loader.scss";
